@model Category

<div class="container">
    <div class="spacer"></div>

    <h1>Редактирай категория</h1>

    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label for="categoryName" class="form-label mt-4">Име на категорията</label>
            <input asp-for="Name" type="text" class="form-control" id="categoryName" placeholder="Напр. концерти">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="categoryDescription" class="form-label mt-4">Описание на категорията</label>
            <textarea asp-for="Description" type="text" class="form-control" id="categoryDescription"> </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="spacer"></div>
        <button type="submit" class="btn btn-primary" style="background-color: #94c045; border: #94c045;">Редактирай</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Обратно към категориите</a>
        <div class="spacer"></div>
    
    </form>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}