<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h2>Свържи се с нас</h2>
                <p>
                    Ние сме тук, за да отговорим на всякакви въпроси, предложения или коментари, които имате. Независимо дали
                    търсите информация за събития, имате технически проблеми или просто искате да споделите вашето мнение, ние
                    сме на разположение.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
            <li><a asp-area="User" asp-controller="Home" asp-action="Index">Начало</a></li>
            <li>Контакти</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div>
            <iframe style="border:0; width: 100%; height: 270px;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2956.2241904471157!2d24.326434675016966!3d42.188273745938936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aca55433444bd9%3A0xc3688eff67d8a31f!2sMathematical%20Secondary%20School%20Konstantin%20Velichkov!5e0!3m2!1sen!2sbg!4v1704283974343!5m2!1sen!2sbg"
                    frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5 info">
            <div class="address col-md-4">
                <i class="bi bi-geo-alt"></i>
                <h4>Локация:</h4>
                <p>ул. "Сан Стефано" №1, Пазарджик</p>
            </div>

            <div class="email col-md-4 mt-0">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>vikivukev@gmail.com</p>
            </div>

            <div class="phone col-md-4 mt-0">
                <i class="bi bi-phone"></i>
                <h4>Телефон:</h4>
                <p>0884989323</p>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->