<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Добре дошъл в EventHub</h1>
        <h2>Тук ще откриеш най-актуалните и популярни събития.</h2>
        <a asp-area="User" asp-controller="Event" asp-action="Index" class="btn-get-started scrollto">Към събитията</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row pt-3">

                <div class="col-lg-6 video-box align-self-baseline position-relative">
                    <img src="~/images/about.jpg" class="img-fluid">
                </div>

                <div class="col-lg-6 pt-3 pt-lg-0 content">
                    <h3>Кои сме ние и какво ти предлагаме?</h3>
                    <p class="fst-italic">
                        Добре дошъл в EventHub - твоят надежден пътеводител към всички събития в твоя град! Ние създадохме това
                        приложение, за да направим търсенето и откриването на събития по-лесно от всякога.
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i> Концерти </li>
                        <li><i class="bx bx-check-double"></i> Спорт </li>
                        <li><i class="bx bx-check-double"></i> Култура </li>
                        <li><i class="bx bx-check-double"></i> И много други </li>
                    </ul>
                    <p>
                        EventHub не е само приложение - това е общност от хора, които споделят общ интерес към забавленията.
                        Обменяй впечатления, прави планове с приятели и откривай нови и вълнуващи събития заедно с твоята
                        компания.
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="fade-in">

            <div class="text-center">
                <h3>Всичко, което ти трябва</h3>
                <p>
                    Открий света на събитията с EventHub - това е твоето място за забавление, откриване на нови хобита и
                    създаване на незабравими спомени.
                </p>
                <a class="cta-btn" asp-area="User" asp-controller="Event" asp-action="Index">Да започваме</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
        <div class="container">

            <div class="section-title pt-5" data-aos="fade-up">
                <h2>Защо EventHub?</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-book" style="color: #ff689b;"></i></div>
                        <h4 class="title">Разнообразие от събития</h4>
                        <p class="description">Преоткрий всички събития около теб - от концерт до готварски курс! </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-save" style="color: #e9bf06;"></i></div>
                        <h4 class="title">Възможност за запазване</h4>
                        <p class="description">Запази събитие, за да си винаги информиран и да не забравиш за него!</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->