@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Нямате достъп";
}
<div class="container">
    <div class="spacer"></div>
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">За съжаление нямате достъп до този ресурс.</p>
    </header>
</div>

