@model Event

<div class="container">

    <div class="spacer"></div>
    <h1>Изтрий събитие</h1>

    <form method="post">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label for="eventName" class="form-label mt-4">Име на събитието</label>
                    <input asp-for="Name" disabled type="text" class="form-control" id="eventName">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="eventPlace" class="form-label mt-4">Място на провеждане</label>
                    <input asp-for="Place" disabled type="text" class="form-control" id="eventPlace">
                    <span asp-validation-for="Place" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="categoryDescription" class="form-label mt-4">Описание на категорията</label>
                    <textarea asp-for="Description" disabled type="text" class="form-control" id="categoryDescription"> </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="eventCategory" class="form-label mt-4">Категория</label>
                    <select asp-for="CategoryId" disabled asp-items="ViewBag.CategoryList" type="number" class="form-select" id="eventCategory">
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="eventPrice" class="form-label mt-4">Цена</label>
                    <input asp-for="Price" type="number" disabled step="0.01" class="form-control" id="eventPrice">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="eventDateAndTime" class="form-label mt-4">Дата на провеждане</label>
                    <input asp-for="DateAndTime" type="datetime-local" disabled class="form-control" id="eventDateAndTime">
                    <span asp-validation-for="DateAndTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="eventImageUrl" class="form-label mt-4">Снимка</label>
                    <input asp-for="ImageUrl" type="file" disabled name="file" class="form-control" id="eventImageUrl">
                </div>
            </div>
            <div class="col-2">
                <img src="@ViewBag.ImageUrl" width="100%"
                     style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
        </div>

        <div class="spacer"></div>
        <button type="submit" class="btn btn-danger" >Изтрий</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Обратно към събитията</a>
        <div class="spacer"></div>

    </form>
</div>